@model IEnumerable<EntityFrameworkIntroduccion.AccesoViews.AccesoViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach(var acceso in Model){
    <h1>@acceso.nombre</h1>
    <p>@acceso.nivel</p>
    <p class="m-2">@acceso.desc</p>
    <br></br>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
